<footer id="footer">
    <div class="content">
      <span class="symfony">
        <img src="{{ asset('bundles/jbtkevinboussard/images/jobeet-mini.png') }}" />
        powered by <a href="http://www.symfony.com/">
              <img src="{{ asset('bundles/jbtkevinboussard/images/symfony.gif') }}" alt="symfony framework" />
          </a>
      </span>
        <ul>
            <li><a href="">About Jobeet</a></li>
            <li><a href="{{ path('jbt_job_index', {'_format': 'atom'}) }}">Full feed</a></li>
            <li><a href="">Jobeet API</a></li>
            <li class="last"><a href="">Affiliates</a></li>
        </ul>
    </div>
</footer>