<div id="header" class="row">
    <div class="content">
        {% include 'JbtKevinBoussardBundle:Default:navbar.html.twig' %}
        <div id="sub_header">
            <div class="search">
                <h2>Ask for a job</h2>
                <form action="" method="get">
                    <input type="text" name="keywords" id="search_keywords" />
                    <input id="searchInput" type="submit" value="search">
                    <div class="help">
                        Enter some keywords (city, country, position, ...)
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>