#searchRequest label{
    text-align: center;
}

#searchContent{
    padding-bottom: 53px !important;
}

#searchContent label{
    background-color: rgba(195,209,214,0.9);
}

#searchRequest #launchRequest{
    margin-top: 10px; margin-bottom: 10px;
}

#result{
    min-height: 500px;
}